@mixin flexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin mobile {
  @media (max-width: 531px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 851px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
body,
h1 {
  margin: 0;
}
input {
  border-radius: 10px;
  padding-inline: 5px;

  &:focus {
    outline: none;
  }
}
.container {
  height: 100vh;
  @include flexDisplay();
}
.content {
  box-sizing: border-box;
  background: #aaa9a9;
  border-radius: 15px;
  max-width: 50vw;
  width: 100%;
  height: fit-content;
  min-height: 400px;
  padding: 30px;
  font-size: 14px;

  @include flexDisplay();
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;

  @include tablet() {
    max-width: 80vw;
  }

  &.result {
    justify-content: space-between;
    gap: 30px;
  }
}
.title {
  font-size: 2.5em;

  @include mobile() {
    font-size: 2em;
  }
}
.generate-btn {
  padding: 15px;
  width: 30%;
  font-size: 1.2em;
  border-radius: 7px;
  border: none;
  cursor: pointer;

  @include mobile() {
    width: 50%;
  }
}
.color-info {
  background-color: aqua;
  width: 50%;
  height: 40px;
}
.colors-settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;

  @include mobile() {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  &__type {
    font-size: 1.3em;
  }
  &__color {
    width: 100%;
    font-size: 1.2em;
    height: 60%;
  }
}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  z-index: 10;
  transition: opacity 0.3s;
}
.hidden {
  display: none;
}
